################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ToggleClass/obj
/VideoGui/.vs
/VideoGui/obj/x64/Debug/net8.0-windows
/NotifyIconWpf/obj/Debug/net6.0-windows
/NotifyIconWpf/obj
/VideoGui/obj
/NotifyIconWpf/bin/Debug/net6.0-windows
/ToggleClass/bin/Debug/net6.0-windows
/obj
/TMP
/VideoGui/bin/x64/Debug/net8.0-windows
/NotifyIconWpf/bin/x64/Debug/net6.0-windows
/ToggleClass/bin/x64/Debug/net6.0-windows
/vg
/NotifyIconWpf/bin/x64/Release/net6.0-windows/NotifyIconWpf.dll
/NotifyIconWpf/bin/x64/Release/net6.0-windows/NotifyIconWpf.pdb
/ToggleClass/bin/x64/Release/net6.0-windows/ToggleClass.dll
/ToggleClass/bin/x64/Release/net6.0-windows/ToggleClass.pdb
/VideoGui/bin/x64/Release/net8.0-windows
/VideoGui/Properties/PublishProfiles/FolderProfile.pubxml.user
/VideoGui/bin/x64/Debug
/VideoGui/bin/x64/Release/net9.0-windows10.0.17763.0
/VideoGui/Properties/PublishProfiles/FolderProfile.pubxml
/.gitignore
/NotifyIconWpf/bin/x64/Release/net6.0-windows
/ToggleClass/bin/x64/Release/net6.0-windows
