################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ToggleClass/obj
/ToggleClass/bin
/CustomComponents/obj
/CustomComponents/bin
/VideoGui/.vs
/VideoGui/obj
/VideoGui/bin
/NotifyIconWpf/obj
/NotifyIconWpf/bin
/VideoGui/obj
/VideoGui/bin/x64/Release/net8.0-windows
/VideoGui/Properties/PublishProfiles/FolderProfile.pubxml.user
/.gitignore
/VideoGui/MainWindow.xaml.cs
/VideoGui/bin/x64/Release/net9.0-windows10.0.26100.0
/VideoGui/bin/x64/Release
/obj/x64/Debug/net8.0-windows
/obj/x64/Release/net8.0-windows/VideoGui
/obj/x64/Release/net8.0-windows
/VideoGui/Properties/PublishProfiles
/CustomComponents/bin/Debug/net9.0-windows/CustomComponents.dll
/CustomComponents/bin/Debug/net9.0-windows/CustomComponents.pdb
/CustomComponents/bin/Debug/CustomComponents.1.0.0.nupkg
/CustomComponents/obj/Debug/net9.0-windows/ref/CustomComponents.dll
/CustomComponents/obj/Debug/net9.0-windows/refint/CustomComponents.dll
/CustomComponents/obj/Debug/net9.0-windows/CustomComponents.AssemblyInfo.cs
/CustomComponents/obj/Debug/net9.0-windows/CustomComponents.pdb
/CustomComponents/obj/Debug/net9.0-windows/CustomComponents_MarkupCompile.lref
/CustomComponents/obj/Debug/net9.0-windows/CustomComponents.dll
/CustomComponents/obj/Debug/net9.0-windows/CustomComponents.AssemblyInfoInputs.cache
/CustomComponents/obj/Debug/CustomComponents.1.0.0.nuspec
/CustomComponents/obj/Debug/net9.0-windows/CustomComponents.sourcelink.json
/CustomComponents/obj/Debug/net9.0-windows/GeneratedInternalTypeHelper.g.cs
/NotifyIconWpf/bin/x64/Debug/net9.0-windows/NotifyIconWpf.dll
/ToggleClass/bin/x64/Debug/net9.0-windows/ToggleClass.dll
/NotifyIconWpf/bin/x64/Debug/net9.0-windows/NotifyIconWpf.pdb
/ToggleClass/bin/x64/Debug/net9.0-windows/ToggleClass.pdb
/CustomComponents/obj/CustomComponents.csproj.nuget.g.props
/CustomComponents/obj/Debug/net9.0-windows/CustomComponents.GeneratedMSBuildEditorConfig.editorconfig
/CustomComponents/obj/CustomComponents.csproj.nuget.dgspec.json
/CustomComponents/obj/project.assets.json
/CustomComponents/obj/project.nuget.cache
/CustomComponents/obj/Debug/net9.0-windows/CustomComponents.assets.cache
/CustomComponents/obj/Release/net9.0-windows/ref/CustomComponents.dll
/CustomComponents/obj/Release/net9.0-windows/refint/CustomComponents.dll
/CustomComponents/obj/Release/net9.0-windows/CustomComponents.sourcelink.json
/CustomComponents/obj/Release/net9.0-windows/CustomComponents.dll
/CustomComponents/obj/Release/net9.0-windows/CustomComponents.AssemblyInfo.cs
/CustomComponents/obj/Release/net9.0-windows/CustomComponents.assets.cache
/CustomComponents/obj/Release/net9.0-windows/CustomComponents.pdb
/CustomComponents/obj/Release/net9.0-windows/CustomComponents.AssemblyInfoInputs.cache
/ToggleClass/bin/x64/Release/net9.0-windows/ToggleClass.pdb
/ToggleClass/bin/x64/Release/net9.0-windows/ToggleClass.dll
/NotifyIconWpf/bin/x64/Release/net9.0-windows/NotifyIconWpf.pdb
/NotifyIconWpf/bin/x64/Release/net9.0-windows/NotifyIconWpf.dll
/CustomComponents/obj/Release/CustomComponents.1.0.0.nuspec
/CustomComponents/bin/Release/net9.0-windows/CustomComponents.pdb
/CustomComponents/bin/Release/net9.0-windows/CustomComponents.dll
/CustomComponents/bin/Release/CustomComponents.1.0.0.nupkg
