################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ToggleClass/obj
/VideoGui/.vs
/VideoGui/obj/x64/Debug/net8.0-windows
/NotifyIconWpf/obj/Debug/net6.0-windows
/NotifyIconWpf/obj
/VideoGui/obj
/NotifyIconWpf/bin/Debug/net6.0-windows
/ToggleClass/bin/Debug/net6.0-windows
/obj
/VideoGui/bin/x64/Debug/net8.0-windows
/NotifyIconWpf/bin/x64/Debug/net6.0-windows
/ToggleClass/bin/x64/Debug/net6.0-windows
